<mat-card>
  <mat-card-title>Login</mat-card-title>
  <span>{{errMsg}}</span>

  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" placeholder="password" formControlName="password" required>
        </mat-form-field>
      </p>




      <mat-card-actions class="asd">

        <button type="submit" mat-raised-button color="primary">Login</button>
        <br>


        <br>
        Dont have an account signup here

        <button class="labelForTextbox" routerLink="/signup">signup</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
