<mat-toolbar color="primary">
  <mat-toolbar-row>
      <a class="labelForTextbox" routerLink="/Dashboard" routerLinkActive="is-active">Category</a><br><br><br>
<!--     <span class="labelForTextbox" routerLink="/Appiness">Category</span> -->
    <a class="labelForTextbox" routerLink="/Appiness/Product" routerLinkActive="is-active">Product</a>

    <span class="spacer"></span>
    <a mat-button (click)="Logout()">Logout</a>

  </mat-toolbar-row>
</mat-toolbar>
