<app-header></app-header>
<mat-form-field>
  <input matInput placeholder="Enter new category" [(ngModel)]="placeId">
</mat-form-field>
<button mat-button (click)="saveCategory(placeId)">Save Category</button>
<div style="color: brown">{{message}}
</div>
<div class="example-container" *ngIf="updateBool">
  <mat-form-field>
    <input matInput placeholder="edit new category" [(ngModel)]="categoryEditName">
  </mat-form-field>

  <button mat-button (click)="EditCategory(categoryEditName)">Update Category</button>
</div>



<div class="example-container" *ngIf="productBool">
  <mat-form-field>
    <input matInput placeholder="product name" [(ngModel)]="productName">
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput placeholder="product price" [(ngModel)]="productPrice">
  </mat-form-field>

  <button mat-button (click)="addNewProduct()">Add Product</button>
</div>


<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>SN</th>

      <th>Category name</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Add Product</th>




    </tr>
  </thead>
  <tbody *ngIf="persons?.length != 0">
    <tr *ngFor="let person of persons;let index = index">
      <td>{{ pageLength * pageIndex + index + 1 }}</td>

      <td>{{ person.categoryName }}</td>
      <td><button type="button" class="btn btn-primary" (click)=editCate(person._id,person.categoryName)>
          edit
        </button></td>
      <td><button (click)=deleteById(person._id)>Delete</button></td>
      <td><button (click)=addProduct(person._id)>Add Product</button></td>



    </tr>
  </tbody>
  <tbody *ngIf="persons?.length == 0">
    <tr>
      <td colspan="5" class="no-data-available">No data!</td>
    </tr>
  </tbody>

</table>
